{% extends "base.html" %}

{% block aboutactive %}active{% endblock aboutactive %}
{% block title %}About{% endblock title %}

{% block body %}

   <div class="container my-3">
      <h2 class="text-center">About me</h2>

      <div class="row">
        <div class="col-md-4">
        </div>

      <div class="col-md-4">
          <div class="card" style="width: 25rem;  background-color:#EFFCFB">
            <div class="card-body" >
                <img src="/static/img/profile.png" class="card-img-top" alt="..."  height="300">
              <h3 class="text-center">Nikhil G</h3>
              <strong>Data Science and Python development Enthusiastic.</strong>

              <p class="card-text">I have so much interested in data science and python Development, from the past 2 years i am learning them. In this duration I have completed a couple of projects, courses and internships. Please visit my Linkedin and GitHub profile for more Details.</p>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item" style="background-color:#C6F2EC">
                <div class="container">
                 <strong><u>Skills</u>:</strong>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Python</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Django</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Machine learning and Deep learning</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">MySql</div>
                  </div></br>

                  <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Amazon Web Services</div>
                  </div>

                </div><br/>
              <li/> </br>
                <div class="container ">
                  <div class="row">

                    <div class="col-sm">
                         <a href="https://github.com/NikhilG50" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">GitHub</a>
                    </div>

                    <div class="col-sm">
                         <a href="https://www.linkedin.com/in/nikhil-g-207652165/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">LinkedIn</a>
                    </div>

                    <div class="col-sm">
                         <a href="https://stackoverflow.com/users/11876887/nikhil-g" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">StackOverflow</a>
                    </div>

                  </div>
        </div></br></br>
            </ul>

            </div>
          </div>
          <div>

        </div>

  </div>
   </div>

{% endblock body %}