<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>{% block title %}{% endblock title %}</title>
    <link rel = "icon" href ="https://img.icons8.com/dotty/80/26e07f/portfolio.png" type = "image/x-icon">
  </head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Nikhil G</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {% block homeactive %} {% endblock homeactive%}" aria-current="page" href="/ ">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block aboutactive %}{% endblock aboutactive %}" href="/about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block projectsactive %}{% endblock projectsactive %}" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block internshipactive %}{% endblock internshipactive %}" href="/internship">internships</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% block contactactive %}{% endblock contactactive %}" href="/contact">Contact Me</a>
          </li>
        </ul>

      </div>
    </div><p class="navbar-brand">! Welcome to my portfolio.</p>
</nav>

  <div class="alert alert-success alert-dismissible fade show mb-0 " role="alert">
      <strong>Hello Visitor!</strong> I am Looking for a full time job in python/Data Science. Feel free to contact me if you like my profile.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

    {% block body %}
    {% endblock body %}

    <footer class="bg-dark fixed-bottom" style="color:white;">
      <p class="text-center py-1 my-0">Designed and Built with ❤ in India.</p>
    </footer>


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
  </body>
</html>