{% extends "base.html" %}

{% block internshipactive %}active{% endblock internshipactive %}
{% block title %}Internships{% endblock title %}

{% block body %}

    <div class="container my-4">
      <h2 class="text-center">Job experience</h2><br/>

      <div class="row">

        <div class="col-md-4">
          <div class="card" style="width: 24rem;">
            <h5 class="text-center">Software engineer AI-ML // Data Engineer</h5>
              <img src="/static/img/Diatoz.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <strong><b>Diatoz</b>  (Jan-2021 to Sept-2021)</strong>
              <p class="card-text">
                ★ In this Company, I have worked as a Data Engineer for client Majid Al Futtaim(MAF) in Publicis Sapient on a One-View project.</br>
                ★ Created Serverless data pipeline using AWS services.
                </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 23.5rem;">
            <h5 class="text-center">Software engineer AI-ML // Data Engineer</h5>
              <img src="/static/img/kushagramathi_Analytics.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
              <strong><b>Kushagramthi Analytics</b> (Oct-2021 to Present)</strong>
              <p class="card-text">★ In this Company, I'm working on Databricks, Pyspark and Hadoop.</br>
                ★ Project details will be Upadated Soon....</p>
            </div>
          </div>
        </div>


      </div>

      

      <br/><br/>
      <h2 class="text-center">Internship experience</h2><br/>
      <div class="row">

        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <h5 class="text-center">AI/ML Intern</h5>
              <img src="/static/img/lincode.png" class="card-img-top" alt="...">
            <div class="card-body">
              <strong>Lincode Labs</strong>
              <p class="card-text">★ In this Company, I worked in the team of computer vision where I have done some projects under object detection, measurement..etc using OpenCV and ML techniques.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <h5 class="text-center">Data Science Research Intern</h5>
            <img src="https://images.newindianexpress.com/uploads/user/imagelibrary/2020/8/30/w900X450/IIT_Bhubaneswar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <strong>IIT, Bhubaneswar</strong>
              <p class="card-text">★ Implementation​ : ​ Decision Tree, Random Forest, Linear Discriminant Analysis, Naive Bayes, Linear discrete analysis, Reinforcement learning.<br/>
                                  ★ Project​ : ​ 1-D Convolutional Neural Network Implementation from Scratch. Testing on different Dataset.
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 25rem;">
            <h5 class="text-center">Front End Developer Intern</h5>
              <img src="/static/img/insired_memories.png" class="card-img-top" alt="...">
            <div class="card-body">
              <strong>Inspired Memories LLP</strong>
              <p class="card-text">★ Completed Web Development Internship at ISM. as a Front End Web-Developer.<br/>
                                    ★ Project​ : ​ college Management system front end development.
              </p>
            </div>
          </div>
        </div>

      </div>

    </div><br/>

{% endblock body %}


