{% extends "base.html" %}

{% block projectsactive %}active{% endblock projectsactive %}
{% block title %}Projects{% endblock title %}

{% block body %}

    <div class="container my-3">
      <h2 class="text-center">Projects</h2>
      <div class="row">
        
        <div class="col-md-4">
          <div class="card" style="width: 22rem;"></br>
            <h5 class="text-center">One View</h5></br>
            <img src="/static/img/dataPipeline_1.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"> </br><b>Project details:</b></br>
                ➢  Created a data pipeline for sending Customer data to End points.</br>
                ➢ Data modelling is done by using Vertica.</br>
                ➢ Performed batch data processing using confluent kafka</br>
                ➢ Performed a series of data transformations using spark scala.</br>
                ➢ Created Airflow DAG to manage the batch job.</p>
            </div>
          </div></br>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 23rem;">
            <h5 class="text-center">Serverless ETL pipeline</h5>
            <img src="/static/img/dataPipeline2.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><b>Project details:</b></br> 
                ➢ Created data pipeline for sending E-Commerce data from AWS S3
                to Redshift.</br> 
                ➢  created Data migration Service to migrate data from MySql server to RDS</br> 
                ➢ Created AWS Lambda functions to Automate file triggering activity.</br> 
                ➢ Data Transformation is done using AWS Glue and checked logs using AWS Cloudwatch</br> 
                ➢ Created dashboards using Power BI.</p>
            </div>
          </div></br> 
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 22rem;"></br>
            <h5 class="text-center">Trash Identification using Computer Vision</h5>
            <img src="/static/img/trash_detection.png" class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text"><b></br> </br>Project details:</b> </br>
                ➢ Created an novel method to detect plastics, papers, and metal with its location using TensorFlow API.</br>
                ➢ Training is done using faster RCNN architecture.</br>
                ➢ Created own training data and test data based on realtime videos.</br>
                ➢ Created GUI for that using the PYQT library.</br>
                ➢ paper published on SSRN journels. <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3590911">View Publication</a>
              </p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card" style="width: 18rem;">  
            <h5 class="text-center">Cable Defect Identification</h5></br>
            <img src="/static/img/cable_defect.png" class="card-img-top" alt="..."></br>
            <div class="card-body">
              <p class="card-text">​<b>Project details:</b> </br>In This project I have given a cable to identify the length between two given points. I have tried with  Template matching to identify points that didn't perform well. Then I used Faster RCNN two identify points and measured distance using Euclidean distance. Last we created a simple UI to show which cable has the proper  length. This Project comes Under Automation using the AI domain.</p>
            </div>
          </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <h5 class="text-center">Sentiment Analysis Prediction and API creation using Python Pyramid API</h5>
              <img src="/static/img/sentement.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"><b>Project details:</b> </br>This project is related to image classification. Where I collected images of 4-classes and used google Collab as a  runtime environment and improved accuracy using Resnet 200.</p>
              </div>
            </div>
        </div>

        <!-- <div class="col-md-4">
            <div class="card" style="width: 18rem;">
              <h5 class="text-center">Image Classification</h5>
              <img src="/static/img/image_classifictaion.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">This project is related to image classification. Where I collected images of 4-classes and used google Collab as a  runtime environment improved accuracy using Resnet 200.</p>
              </div>
            </div>
        </div> -->
      </div>
    </div><br/><br/>

{% endblock body %}